*{
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box; 
  margin:0;
  padding: 0;
  }

  body {
    background-color: #E5E5E5;
  }

  input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
  }

